---
layout: project-page
title: Bank Director Digital Magazine
img: bank-director-digital-magazine
category: web-digital
---

<section>
  <h5>Role:</h5>
  <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
  <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section class="project-responsibility">
  <h5>Responsibility:</h5>
  <p>Designed specifically for tablet devices, this app showcases topical articles, research studies and video interviews in an engaging and visually appealing format, published 8 times a year.  The digital magazine delivers interactive features including animations, polling, social sharing, dynamic advertising and more.</p>
  <p>My role in the app has been to serve as lead developer, implementing and testing technical aspects of the app from the storefront to interactive features inside of eash issue. This app was built using Adobe Digital Publishing Suite, and since launch is being re-structured for better phone support.</p>
  <p>I created the 3 different store fronts (Apple App Store, Google Play, Amazon Appstore) along with implementing the publishing processes of creating new issues of the magazine and new interactive features, specifically for the phone version.</p>
  <p>To improve support for the phone in a very vast environment with many different screen sizes and dimensions, I turned to HTML, CSS + JS to create a static mobile website with a consitent look and feel regardless of the device which improved the production workflow tremendously, <strong>saving an estimated 1.5-2 days of man hours</strong> on the design team. Check out the current version app on <a href="https://itunes.apple.com/us/app/bank-director-digital-magazine/id977811694?ls=1&mt=8">iTunes</a>, <a href="https://play.google.com/store/apps/details?id=com.bankdirector.bddm">Google</a> + <a href="http://www.amazon.com/gp/mas/dl/android?p=com.bankdirector.bddm">Amazon</a>.</p>

</section>
<a href="{{ site.baseurl }}/portfolio/web-digital/bank-director-digital-magazine/dev-version/"><button>View New Development Version</button></a>
