---
layout: project-page
title: Sales Collateral
img: sales-collateral
category: email-marketing
---

<section>
  <h5>Role:</h5>
  <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
  <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section class="project-responsibility">
  <h5>Responsibility:</h5>
  <p>As with all companies, at Bank Director, sales prospecting is a very vital step to running the business. These email campaigns are aimed at getting the Bank Director name top of mind for key players looking to sponsor events and run advertisements in different mediums through Bank Director. My role in for these emails is to communicate effectively what the sales team is looking to portray to potential clients. The process typically starts with collaboration with the VP of Marketing then I will wireframe my thoughts and ultimately code the final product. Most of these emails are more visual in nature hoping to make an impact in the inbox of those looking to get in front of the Bank Director audience.</p>
</section>
<a href="{{ site.baseurl }}/portfolio/email-marketing/{{ page.img }}/sample-email/"><button>View Sample Email</button></a>
