---
layout: project-page
title: Circulation Promotion
img: circulation-promotion
category: email-marketing
---

<section>
  <h5>Role:</h5>
  <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
  <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section class="project-responsibility">
  <h5>Responsibility:</h5>
  <p><em>Bank Director</em> is now a monthly publication with the print magazine and issues realized in the app, which means the subscriber base needs to be notified of the latest and greatest content.</p>
  <p>For these efforts, I'll recieve copy from the head of the circulation department and work out the design aspects in Photoshop. After fine tuning the particulars, I'll code the design in HTML, slicing image assets and prepare and other assets needed.</p>
  <p>Below is a sample email that was released to the entire database to promote the launch of the digital magazine app.</p>
</section>
<a href="{{ site.baseurl }}/portfolio/email-marketing/{{ page.img }}/sample-email.html"><button>View Sample Email</button></a>
