* {
  box-sizing: border-box;
}

body {
  display: grid;
  @include bp(md) {
    grid-template-columns: $header-width 1fr;
  }
}

.content-wrap {
  padding: 1rem;
  @include bp(md) {
    padding: 3rem;
  }
}