---
layout: project-page
title: FinXTech.com
img: finxtech-site
category: web-digital
---

<section>
  <h5>Role:</h5>
    <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
    <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section>
  <h5>Responsibility:</h5>
  <p>FinXTech is newly launched product of Bank Director taking some of the key concepts that have created success for Bank Director and the banking industry, but with a financial technology spin. For this project, I created FinXTech.com along with some sales collateral to assist the sales team present and ultimately make a sale. Currently, this website is in version one of implementation with plans for a much more robust experience + content coming very soon.</p>
</section>
<a href="http://www.finxtech.com" target="_blank"><button>View Website</button></a>
