---
layout: project-page
title: Weekly Newsletters
img: weekly-newsletters
category: email-marketing
---

<section>
  <h5>Role:</h5>
  <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
  <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section class="project-responsibility">
  <h5>Responsibility:</h5>
  <p>On average, BankDirector.com posts 3-4 new articles in a week. The entire Bank Director database is segemented to specifications outlined by the marketing team and relevant/content is distributed to each segment. For this project, I designed and coded a template to be used for each campaign with certain areas to be designed on a per campaign basis. Most notably, the promo section towards the bottom of the email where different events or product offerings are rotated out week to week. This section allows me flexibility to create different interesting concept ads to ride along with the content in the newsletter.</p>
</section>
<a href="{{ site.baseurl }}/portfolio/email-marketing/{{ page.img }}/sample-email/"><button>View Sample Email</button></a>
