footer {
  background: $dark;
  background: linear-gradient($dark, $darken-dark);
  color: lighten($dark, 30%);
}

.site-footer {
  padding: 2.5em 1em;
  display: flex;
  flex-wrap: wrap;
  h2 {
    text-shadow: $big-shadow;
    padding-bottom: .25em;
  }
}

.social-list-footer {
  flex-grow: 1;
  p {
    display: inline-block;
  }
  .contact-icon svg {
    height: 25px;
    path, polygon {
      fill: lighten($dark, 30%);
    }
  }
}
