---
layout: default
title: Portfolio
type: landing
---

<div class="page max-wrap">

  <div class="border-b more-margin-b">

    <h6 id="web-digital">Web/Digital</h6>

    <div class="group margin-b margin-t">

      {% for page in site.pages %}
        {% if page.category == 'web-digital' %}
          <div class="portfolio-item grow">
            <a href="{{ page.url }}" class="body-link">
              <img src="{{ site.baseurl }}/img/{{ page.img }}-tb.png" alt="img">
              <span class="no-wrap">
                {{ page.title }}
              </span>
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>

  </div>

  <div class="border-b more-margin-b">

    <h6 id="email-marketing">Email Marketing</h6>

    <div class="group margin-b margin-t">

      {% for page in site.pages %}
        {% if page.category == 'email-marketing' %}
          <div class="portfolio-item grow">
            <a href="{{ page.url }}" class="body-link">
              <img src="{{ site.baseurl }}/img/{{ page.img }}-tb.png" alt="img">
              {{ page.title }}
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>

  </div>

  <div>

    <h6 id="print-layout">Print Layout</h6>

    <div class="group margin-t">

      {% for page in site.pages %}
        {% if page.category == 'print-layout' %}
          <div class="portfolio-item grow">
            <a href="{{ page.url }}" class="body-link">
              <img src="{{ site.baseurl }}/img/{{ page.img }}-tb.png" alt="img">
              {{ page.title }}
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>

  </div>

</div>
