---
layout: project-page
title: Event Promotion
img: event-promotion
category: email-marketing
---

<section>
  <h5>Role:</h5>
  <p><span class="role-icon">{% include icons/designer.html %}</span>Designer</p>
  <p><span class="role-icon">{% include icons/developer.html %}</span>Developer</p>
</section>
<section class="project-responsibility">
  <h5>Responsibility:</h5>
  <p>Bank Director hosts between 6-7 events throughout the year, so there is almost always multiple campaigns for multiple events going on at any given point in time. In some ways, this is can be a challenge given the shear amount of emails created + sent, but in others, is great to keep a steady flow of work to help craft reusable pieces of emails across different campaigns + very consistent look + feel to the emails for each effort.</p>
  <p>As with most of the other email projects at Bank Director, I take the lead on design + development of the email, collaborating with the VP of Marketing on copy + design. The sample email below is actually one of my favorites that I've done in terms of design, but also this email performed extremely well, leading to multiple conversion in one effort.</p>
</section>
<a href="{{ site.baseurl }}/portfolio/email-marketing/{{ page.img }}/sample-email.html"><button>View Sample Email</button></a>
