.card {
  background-color: #fff;
}

.card-image {
  

  img {
    max-width: 100%;
    display: block;
  }

}

.card-content {
  padding: 1rem;
  a {
    text-decoration: none;
    color: #ffd000;
  }
}