<!DOCTYPE html>
<html lang="en-US">
<head>
  <base href="{{site.baseurl}}">
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}} | {% if page.path contains '_work' %}Work |{% endif %} {{page.title}}</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}dist/css/main.css">
</head>
{% include body-class.html %}
  <header class="site-header">
    {% include site-header.html %}
  </header>
  <div class="content-wrap">
    <main>
      {{content}}
    </main>
    <footer class="site-footer">
      {% include site-footer.html %}
    </footer>
  </div>
  <script type='text/javascript' src='{{site.baseurl}}dist/js/main.js'></script>
</body>
</html>