---
layout: default
---
<section class="hero" style="background-image: url({{page.hero_image}});">
  <h1 class="visually-hidden">{{page.title}}</h1>
  <div class="contents">
    <img src="{{page.logo}}" alt="{{page.title}} Logo" class="hero-logo">
    <ul class="role-container">
      {% for role in page.role %}
        {% if role == 'Designer' %}
          {% assign icon = '/dist/img/design.svg' %}
        {% else if %}
          {% assign icon = '/dist/img/code.svg' %}
        {% endif %}
        <li class="role-item">
          <div class="role-icon">
            <img src="{{icon}}" alt="{{role}} icon">
          </div>
          <div class="role-content">
            {{role}}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<div class="article-content">
  <section class="about-company" id="about">
    <h3>About {{page.title}}</h3>
    <p>{{page.company_description}}</p>
  </section>
  <section class="company-projects">
    <h3>{{page.title}} Projects</h3>
    <ul class="company-project-grid">
      {% for item in site.work %}
        {% if item.category == page.category %}
          {% unless item.url == page.url %}
            <li class="card">
              <div class="card-image">
                <a href="{{item.url}}" title="{{item.title}}"><img src="{{item.thumbnail_image}}" alt=""></a>
              </div>
              <div class="card-content">
                <h6><a href="{{item.url}}" title="{{item.title}}">{{item.title}}</a></h6>
              </div>
            </li>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section>
    {{content}}
  </section>
</div>
