---
layout: default
---
<section class="hero" style="background-image: url({{page.hero_image}});">
  <h1 class="visually-hidden">{{page.title}}</h1>
  <div class="contents">
    <img src="{{page.logo}}" alt="{{page.title}} Logo" class="hero-logo">
    <ul class="role-container">
      {% for role in page.role %}
        {% if role == 'Designer' %}
          {% assign icon = '/dist/img/design.svg' %}
        {% else if %}
          {% assign icon = '/dist/img/code.svg' %}
        {% endif %}
        <li class="role-item">
          <div class="role-icon">
            <img src="{{icon}}" alt="{{role}} icon">
          </div>
          <div class="role-content">
            {{role}}
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<div class="article-content">
  <section class="about-company" id="about">
    <h3>About {{page.title}}</h3>
    <p>{{page.company_description}}</p>
  </section>
  {{content}}
</div>
